.menu {
    background-image: linear-gradient(0deg, #322779, rgb(154, 80, 207));
    text-decoration: none;
    z-index: 1000;
    top: 0;
    position: sticky;
    padding: 35px 0;
    box-shadow: 0 12px 22px #3333336e;
}
img {
    position: absolute;
    height: auto;
    width: 67px;
    display: flex;
    margin: 0;
    top: -18px;
    left: 66px;
    
}
body {
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    background-color: #f4f7f6; color: #333;
}
.boxconteiner1 {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu {
    font-size: 1.2rem;/* 1.2 vezes 16px*/
    text-transform: uppercase; /*letra maiusculo*/
}
a{
    text-decoration: none;/*tira o negrito*/
    font-weight: bold; /*negrito*/
    color: whitesmoke;
    position: relative; /*se tira isso a linha falsa vai em baixo do backgound*/
    font-size: 20px;
}
a::after{ /*esse after cria uma linha falsa em baixo do texto*/
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: whitesmoke;
    transition: all 0.3s ease;
}
a:hover::after{
    width: 100%;
    left: 0;
}
a:active{ /*ao clicar ele vai para cima*/
    transform: scale(1.005);
}