nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1000px;
    
}
nav a{
    margin: 0 20px;
}
.menu {
    background-image: linear-gradient(0deg, #322779, rgb(154, 80, 207));
    text-decoration: none;
    z-index: 1000;
    top: 0;
    position: sticky;
    padding: 25px 0;
    box-shadow: 0 12px 22px #3333336e;
}
img {
    position: absolute;
    height: auto;
    width: 50px;
    display: flex;
    margin: 0;
    top: -18px;
    left: 66px;
    
}
body {
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    overflow-x: hidden; /*impede rolagem horizontal*/
}
.boxconteiner1 {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.menu {
    text-transform: uppercase; /*letra maiusculo*/
}
a{
    text-decoration: none;/*tira o negrito*/
    font-weight: bold; /*negrito*/
    color: whitesmoke;
    position: relative; /*se tira isso a linha falsa vai em baixo do backgound*/
    font-size: 15px;
}
a::after{ /*esse after cria uma linha falsa em baixo do texto*/
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: whitesmoke;
    transition: all 0.3s ease;
}
a:hover::after{
    width: 100%;
    left: 0;
}
a:active{ /*ao clicar ele vai para cima*/
    transform: scale(1.005);
}





/*-----------------------homepage pra baixo----------------------*/





.home{
    height: 70vh;
    display: flex;
    text-align: center;

    background: linear-gradient(
        136deg,
        #491a55,
        #151466
    );

    color: whitesmoke;
    width: 100%;
}

h1{
    position: absolute;
    left: 30%;
    top: 22%;
    font-size: 66px;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-shadow: 0 0 42px rgba(173, 226, 255, 0.322);
}

h1::after{
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: whitesmoke;
    transition: all 0.3s ease;
    left: 0;
}


p{
    font-family: 'Segoe UI', Tahoma;
    font-size: 15px;
    position: absolute;
    left: 26%;
    top: 28.5%;
    text-shadow: 0 0 42px rgba(173, 226, 255, 0.688);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------footer-------------------------*/


.coiso{
    background-color: #10002d;
    color: rgb(210, 210, 210);
    text-align: center;
    justify-content: center;
    padding: 110px 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: absolute;
    top: 78.8%;
    font-weight: bold;
    margin: 0;
}
